In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
import pickle as pkl
import seaborn as sns
sns.set()
np.random.seed(0)

In [11]:
df = pd.read_csv('data/day.csv', index_col=0)
df.head()

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,,
1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
season,17379.0,2.501640,1.106918,1.00,2.0000,3.0000,3.0000,4.0000
yr,17379.0,0.502561,0.500008,0.00,0.0000,1.0000,1.0000,1.0000
mnth,17379.0,6.537775,3.438776,1.00,4.0000,7.0000,10.0000,12.0000
hr,17379.0,11.546752,6.914405,0.00,6.0000,12.0000,18.0000,23.0000
holiday,17379.0,0.028770,0.167165,0.00,0.0000,0.0000,0.0000,1.0000
weekday,17379.0,3.003683,2.005771,0.00,1.0000,3.0000,5.0000,6.0000
workingday,17379.0,0.682721,0.465431,0.00,0.0000,1.0000,1.0000,1.0000
weathersit,17379.0,1.425283,0.639357,1.00,1.0000,1.0000,2.0000,4.0000
temp,17379.0,0.496987,0.192556,0.02,0.3400,0.5000,0.6600,1.0000
atemp,17379.0,0.475775,0.171850,0.00,0.3333,0.4848,0.6212,1.0000
hum,17379.0,0.627229,0.192930,0.00,0.4800,0.6300,0.7800,1.0000
windspeed,17379.0,0.190098,0.122340,0.00,0.1045,0.1940,0.2537,0.8507
casual,17379.0,35.676218,49.305030,0.00,4.0000,17.0000,48.0000,367.0000
registered,17379.0,153.786869,151.357286,0.00,34.0000,115.0000,220.0000,886.0000
cnt,17379.0,189.463088,181.387599,1.00,40.0000,142.0000,281.0000,977.0000

In [13]:
df2 = df.loc[:,('season',
                'yr',
                'mnth',
                'hr',
                'holiday',
                'weekday',
                'workingday',
                'weathersit',
                'temp',
                'atemp',
                'hum',
                'windspeed',
                'cnt')]

df2.rename(columns={
                    'yr': 'year',
                    'mnth': 'month',
                    'hr': 'hour',
                    'weekday': 'week_day',
                    'workingday': 'working_day',
                    'weathersit': 'weather',
                    'temp': 'temperature',
                    'atemp': 'feeling_temperature',
                    'hum': 'humidity',
                    'windspeed': 'wind_speed',
                    'cnt': 'y'
                  }, inplace=True)
df2.head()

,season,year,month,hour,holiday,week_day,working_day,weather,temperature,feeling_temperature,humidity,wind_speed,y
instant,,,,,,,,,,,,,
1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [14]:
X = df2
y = X.pop('y')
X.head()

,season,year,month,hour,holiday,week_day,working_day,weather,temperature,feeling_temperature,humidity,wind_speed
instant,,,,,,,,,,,,
1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0
2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0
3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0
4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0
5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0

In [15]:
y.head()

instant
1    16
2    40
3    32
4    13
5     1
Name: y, dtype: int64

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [17]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(13034, 12) (4345, 12) (13034,) (4345,)

In [18]:
from sklearn.linear_model import LinearRegression

lr_pipeline = Pipeline([
    ('lr', LinearRegression())
])

lr_pipeline.fit(X_train.values, y_train.values)

print(f"Score: {lr_pipeline.score(X_test.values, y_test.values)}")

Score: 0.3977499854895421

In [16]:
X_train['y'] = y_train
X_train.to_csv("train.csv")
X_test['y'] = y_test
X_test.to_csv("test.csv")

In [17]:
with open("model.pkl", "wb") as f:
    pkl.dump(lr_pipeline, f)